<div id="wrapper">

    <!-- Sidebar -->
    <app-navbar></app-navbar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Missions</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">List des missions</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" datatable class="table table-striped" style="width:100%">
                                <thead class="table-dark">
                                    <tr>
                                        <th>id</th>
                                        <th>voiture Id</th>
                                        <th>conducteur</th>
                                        <th>statusMission</th>
                                        <th>dateDebut</th>
                                        <th>dateFin</th>
                                        <th>duree</th>
                                        <th>Lieux depart</th>
                                        <th>Lieux arrivage</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>° 1</td>
                                        <td>° 2</td>
                                        <td>Malek</td>
                                        <td><span class="badge badge-success rounded-pill d-inline">Validé</span></td>
                                        <td>2024-04-25</td>
                                        <td>2024-04-30</td>
                                        <td>5 jours</td>
                                        <td>Rades</td>
                                        <td>Hammamet</td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm " data-mdb-ripple-init
                                                data-ripple-color="info ">
                                                <i class="bi bi-check2-circle h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm " data-mdb-ripple-init
                                                data-ripple-color="info ">
                                                <i class="bi bi-ban h6"></i>
                                            </button>

                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger">
                                                <i class="bi bi-x h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger" (click)="showModel('missionModel')">
                                                <i class="bi bi-file-earmark-text h5"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>° 2</td>
                                        <td>° 5</td>
                                        <td>Sami</td>
                                        <td><span class="badge badge-warning rounded-pill d-inline">Encours</span></td>
                                        <td>2024-04-25</td>
                                        <td>2024-04-30</td>
                                        <td>5 jours</td>
                                        <td>Rades</td>
                                        <td>Hammamet</td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm " data-mdb-ripple-init
                                                data-ripple-color="info ">
                                                <i class="bi bi-check2-circle h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger">
                                                <i class="bi bi-x h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger">
                                                <i class="bi bi-file-earmark-text h5"></i>
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>° 3</td>
                                        <td>° 3</td>
                                        <td>Louay</td>
                                        <td><span class="badge badge-danger rounded-pill d-inline">Annulé</span></td>
                                        <td>2024-04-25</td>
                                        <td>2024-04-30</td>
                                        <td>5 jours</td>
                                        <td>Rades</td>
                                        <td>Hammamet</td>
                                        <td>
                                            <button type="button" class="btn btn-link btn-sm " data-mdb-ripple-init
                                                data-ripple-color="info ">
                                                <i class="bi bi-check2-circle h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger">
                                                <i class="bi bi-x h5"></i>
                                            </button>
                                            <button type="button" class="btn btn-link btn-sm px-3" data-mdb-ripple-init
                                                data-ripple-color="danger">
                                                <i class="bi bi-file-earmark-text h5"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="missionModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bilan mission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModel('missionModel')"></button>
            </div>
            <div class="modal-body">
                <app-details-mission></app-details-mission>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModel('missionModel')"
                    data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>